*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: darkblue;
  color: white
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
  
  h1 {
    max-width: 300px;
    padding: 20px 10px;
    border: 2px solid white;
  }

  h2 {
    padding-top: 20px;
  }
}

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.element-grid {
  display: grid;
  grid-template-columns: repeat(18, 60px);
  grid-template-rows: repeat(7, 80px);
  gap: 5px;
}

.element-block {
  border: 2px solid white;
  padding: 5px;
  text-align: left;
}