*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: darkblue;
  color: white
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  max-width: 600px;
  
  h1 {
    max-width: 300px;
    padding: 20px 10px;
    border: 2px solid white;
  }

  h2 {
    padding-top: 20px;
  }
}

/* Element Table Layout */
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(18, 60px);
  grid-template-rows: repeat(7, 80px);
  gap: 20px;
}

.element-cell {
  border: 1px solid white;
  padding: 10px;
  text-align: left;

  &:hover {
    background-color: blue;
    cursor: pointer;
  }
}

/* Element Modal  */
.element-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.element-modal-content {
  background-color: orange;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  max-width: 90%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}